<li>
  <article class="post">
    <header>
      <h2><%= link_to(post.title, post_path(post)) %></h2>

      <p class="published-date">
        Posted on
        <%= marked_up_date_or_time(post.published_at) %>
      </p>
    </header>

    <div class="body">
      <%= post.summary %>
    </div>
  </article>
</li>
