h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
}

p {
    line-height: 1.4;
    font-size: 1.8em;
    color: #333;
}

time {
    font-size: inherit;
}


@media screen and (min-width: 480px) {
    h1 {
        font-size: 3.6em;
    }

    h2 {
        font-size: 2.8em;
    }

    p {
        font-size: 2em;
    }
}

h1, h2, h3 {
    text-align: center;
    line-height: 2;
}
