<!DOCTYPE html>
<html>
<head>
  <title>Themitchell</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1">
</head>
<body>

<header>
  <h1 class="site-name">themitchell</h1>
</header>

<%#= render 'shared/navigation' %>

<main class="main">
  <%= yield %>
</main>

</body>
</html>
